body {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #212121;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

p {
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	text-align: center;
}

ul {
  font-family: 'Rubik', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

img, embed,
object, video {
max-width: 100%;
}


header, nav, footer, section, div {
    box-sizing: border-box;
}

.header {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header_title{
  text-align: center;
}

nav, nav a, nav_list, header, footer, footer_list {
width: 100%
}

.nav {
  font-family: 'Rubik', sans-serif;
  margin-left: auto;
  margin-right: auto;

}

.nav_list {
  padding: 1.5em;
  margin: 0;
  text-align: center;
}

.nav_item {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  padding: 1.5em;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

.nav {
margin-left: auto;
margin-right: auto;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  font-family: 'Rubik', sans-serif;
  margin-left: auto;
  margin-right: auto;

}

.footer_list {
  padding: 1.5em;
  margin: 0;
  text-align: center;
}

.footer_item {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  padding: 1.5em;
  text-transform: uppercase;
}

.footer a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.footer a:hover {
  text-decoration: underline;
  color: #212121;
}

.footer {
margin-left: auto;
margin-right: auto;
}